{:deps true
 :builds {:emmy {:compiler-options {:source-map false}
                 :target :node-library
                 ; where we left off: we don't want to curate this list
                 ; at this level. Instead, we should get this table out
                 ; of the env data structure somewhere, and add back the
                 ; stuff from "core" that we really need.
                 :exports-fn emmy.js.main/emmy-js-exports
                 :output-to "build/emmy-library.js"
                 :output-dir "build"}}}
